.languageSwitcher {
  margin-bottom: 20px;
  border: 1px solid;

  &__label {
    margin: 0;
    background-color: #f2dbdb;
    border-bottom: 1px solid;
    padding: 5px 10px;
    font-weight: 700;
  }

  &__input {
    padding: 5px 10px;
  }
}
